.c-button{
  font-family: $primary-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 18.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: 1px solid $black;
  background: transparent;
}