/**
 * Breakpoints
 */

$breakpoint-sm: 375px;
$breakpoint-sm-md: 640px;
$breakpoint-md: 800px;
$breakpoint-md-lg: 960px;
$breakpoint-lg: 1140px;
$breakpoint-lg-xl: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-2xl: 1920px;
$breakpoint-3xl: 3840px;

/**
 * Breakpoints - map
 */
$settings-breakpoints: (
    "sm": $breakpoint-sm,
    "sm-md": $breakpoint-sm-md,
    "md": $breakpoint-md,
    "md-lg": $breakpoint-md-lg,
    "lg": $breakpoint-lg,
    "lg-xl": $breakpoint-lg-xl,
    "xl": $breakpoint-xl,
    "2xl": $breakpoint-2xl,
    "3xl": $breakpoint-3xl,
);
